/* IBM Plex Sans KR 400 */
@font-face {
  font-family: "IBM Plex Sans KR";
  font-weight: 400;
  src: url("../public/fonts/IBMPlexSansKR-Regular.ttf") format("truetype");
}

body {
  font-family: IBM Plex Sans KR;
}

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  li {
    @apply p-4 cursor-pointer hover:text-blue-950;
  }

  button {
    @apply text-white border bg-slate-600 border-slate-600
    hover:bg-transparent hover:text-slate-900 rounded-md;
  }
}
